/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media only screen and (max-width: 1024px) {
    .wrapper {
        max-width: 86%;
    }
    .header_menu {
        margin-bottom: 130px;
    }
    .welcome_welcome {
        margin-right: 60px;
    }
    .form_input {
        padding: 15px 0 10px 11px;
    }
    .pricing_item {
        margin-right: 18px;
        padding-top: calc(20px + (35 - 20) * ((100vw - 768px) / (1024 - 768)));/* 20px 18px 10px 18px; */
        padding-right: calc(18px + (60 - 18) * ((100vw - 768px) / (1024 - 768)));
        padding-bottom: calc(10px + (13 - 10) * ((100vw - 768px) / (1024 - 768)));
        padding-left: calc(18px + (53 - 18) * ((100vw - 768px) / (1024 - 768)));
}
    .services_flex-container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .services_item:nth-last-child(1), .services_item:nth-last-child(3) {
        margin-right: 0;
    }
    .services_item:nth-last-child(3), .services_item:nth-last-child(4) {
        margin-bottom: 30px;
    }
    .gallery_container {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
@media only screen and (max-width: 985px) {
    header {
        padding-bottom: 110px;
        margin-bottom: 0;
    }
    .wrapper-header {
        margin-bottom: 0;
    }
    .welcome {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .form {
       display: none;
       position: absolute;
    top: 50%;
    left: 55%;
    opacity: 0.9;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    }
    .cross {
        display: block;
    }
    .request_button {
        display: block;
    }
    .services_title {
        text-align: center;
    }
    .testimonial_container {
        display: block;
    }
    .testimonials {
        margin-right: 100px;
    }
    .testimonials_title  {
        text-align: center;
    }
    .testimonials {
        margin-bottom: 50px;
    }
    .gallery_more {
        text-align: center;
    }
}
@media only screen and (max-width: 984px) {
    .testimonials {
        margin-right: calc(50px + (100 - 50) * ((100vw - 551px) / 984 -551));
    }
}
@media only screen and (max-width: 850px) {
    .our-story_text {
        margin-right: calc(60px + (121 - 60) * ((100vw - 650px) / (850 - 650)));
    }
    .our-story_button a {
        width: 200px;
    }
}
@media only screen and (max-width: 800px) {
    header {
        padding-bottom: 50px;
    }
    .request_button {
        display: inline-block;
    }
    .form {
        top: 110%;
    left: 0;
    width: 315px;
    }
    .welcome {
        display: block;
    }
    .welcome_text {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 790px) {
    .services_item {
        margin-right: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .header_menu {
        margin-bottom: 70px;
    }
    .services_title {
        margin-bottom: calc(20px + (90 - 20) * ((100vw - 320px) / (768 - 320)));
        font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (768 - 320)));
    }
    .our-story_button a {
        height: 50px;
    }
    .pricing {
        padding-top: calc(20px + (61 - 20) * ((100vw - 320px) / (768 - 320)));
    }
    .pricing_title {
        margin-bottom: calc(25px + (57 - 25) * ((100vw - 320px) / (768 - 320)));
    }
    .pricing_price {
        font-size: 40px;
    }
    .testimonial {
        padding-top: calc(70px + (141 - 70) * ((100vw - 320px) / (768 - 320)));
        padding-bottom: calc(50px + (119 - 50) * ((100vw - 320px) / (768 - 320)));
    }
    .testimonials_title, .gallery_title {
        font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (768 - 320)));
    }
}
@media only screen and (max-width: 696px) {
    .services_flex-container {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
    }
    .services_item:nth-last-child(2), .services_item:nth-last-child(3), .services_item:nth-last-child(4) {
        margin-bottom: 30px;
    }
    .services_item:nth-last-child(1) {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 650px) {
    .our-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .our-story_text {
        margin-bottom: 20px;

    }
}  
@media only screen and (max-width: 620px) {
    .welcome_title {
        font-size: calc(50px + (90 - 50) * ((100vw - 320px) / (620 - 320)));
    }
    .pricing_container {
        display: block;
        padding: 0 50px;   
    }
    .pricing_item {
        margin-right: 0;
        margin-bottom: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    }
    .pricing_item:nth-last-child(1) {
        margin-bottom: 0;
    }
    .testimonials_title {
        padding-left: 0;
    }
} 
@media only screen and (max-width: 600px) {
    .pricing_container {
        padding-right: calc(5px + (50 - 5) * ((100vw - 320px) / (600 - 320)));
        padding-left: calc(5px + (50 - 5) * ((100vw - 320px) / (600 - 320)));
    }
}
@media only screen and (max-width: 550px) {
    .testimonials_item {
    margin-bottom: 32px;
    }
    .testimonials_text, .testimonials_signature {
        font-size: calc(16px + (20 - 16) * ((100vw - 320px) / ( 550 - 320)));
    }
}
@media only screen and (max-width: 375px) {
    .testimonials-girl, .testimonials-gay {
        display: none;
    }
    .testimonials {
        margin-right: 0;
    }
    .testimonials-grey .testimonials_item_text, .testimonials-white .testimonials_item_text {
        padding: 10px;
    }
}
