.menuToggle{  
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .menuToggle{
        display: block;
    }
    
    .burger-menu {
        position: relative;
        height: 50px;
    }
    .menu {
        display: none;
        position: absolute;
        width: 95.7%;
        /* margin-left: -13px; */
        padding-left: 10px;
        top: 6.3%;
        border: none;
    }
    .menu li {
        display: block;
    }
    .icon {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    
    .hamburger {
        position: relative;
        z-index: 101;
        width: 40px;
        height: 4px;
        -webkit-transform: translate(-50%, 160%);
            -ms-transform: translate(-50%, 160%);
                transform: translate(-50%, 160%);
        background: #747070;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        display: inline-block;
        margin-left: 12px;
    }
    
.hamburger:before,
.hamburger:after {
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    background: #747070;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.hamburger:before {
    top: -16px;
}

.hamburger:after {
    top: 16px;
}

.icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
    top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
}
.menu.active {
    background-color: #e3d5b8;
    background-blend-mode: screen;
    background-position: center;
    border-top: none;
    z-index: 100;
    opacity: 0.95;
    position: absolute;
    right: -120%;
    width: 300px;
    border-bottom: none;
}
.menu.active li a {
    font-weight: 500;
    font-size: 30px;
    line-height: 3;
}
}