/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;overflow-x: hidden;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: 'PTSerif-Regular';
  src: url('PTSerif-Regular.eot');
  src: url('PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
       url('PTSerif-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSerif-Regular';
  src: url('PTSerif-Regular.ttf') format('truetype'),
       url('PTSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSerif-Regular';
  src: url('PTSerif-Regular.ttf') format('truetype'),
       url('PTSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ofont.ru_PT Serif';
  src: url('ofont.ru_PT Serif.eot');
  src: url('ofont.ru_PT Serif.eot?#iefix') format('embedded-opentype'),
       url('ofont.ru_PT Serif.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}  
@font-face {
  font-family: 'COUTURE-Bold';
  src: url('COUTURE-Bold.eot');
  src: url('COUTURE-Bold.eot?#iefix') format('embedded-opentype'),
       url('COUTURE-Bold.ttf') format('truetype'),
       url('COUTURE-Bold.woff') format('woff'),
       url('COUTURE-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quite Chocolatey';
  src: url('Quite Chocolatey.eot');
  src: url('Quite Chocolatey.eot?#iefix') format('embedded-opentype'),
       url('Quite Chocolatey.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuiteChocolatey';
  src: url('QuiteChocolatey.ttf') format('truetype'),
       url('QuiteChocolatey.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}   
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.eot');
  src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url('Montserrat-Regular.ttf') format('truetype'),
       url('Montserrat-Regular.woff') format('woff'),
       url('Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('Montserrat-Bold.eot');
  src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url('Montserrat-Bold.ttf') format('truetype'),
       url('Montserrat-Bold.woff') format('woff'),
       url('Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

header {
  background: url(./img/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-top: 39px;
  padding-bottom: 161px;
}
.background-top {
  position: absolute;
  z-index: 2;
  background-color: #e2baa4;
  opacity: 0.73;
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
}
.wrapper {
  max-width: 990px;
  margin: 0 auto;
}
.wrapper-header {
margin-bottom: -240px;
position: relative;
z-index: 3;
padding-top: 39px;
}
.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 163px;
}
.logo {
font-family: 'Quite Chocolatey';
font-size: 88.5px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 0.37;
letter-spacing: -1.77px;
text-align: center;
color: #d03958;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu li {
  margin-right: 33px;
}
.menu li a:hover {
padding: 11px 15px;
background: #d03958;
border-radius: 5px;
color: white;
}
.menu li:nth-last-child(1) {
  margin-right: 0;
}
.menu li a {
-webkit-transition: 0.7s;
-o-transition: 0.7s;
transition: 0.7s;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.36px;
  text-align: left;
  color: #1b1b1b;
}
.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.welcome_welcome {
  margin-right: 100px;
}
.welcome_title {
font-family: 'Montserrat';
font-weight: bold;
font-size: 90px;
font-stretch: normal;
font-style: normal;
line-height: 0.89;
letter-spacing: -1.8px;
text-align: left;
color: #d03958;
margin-bottom: 47px;
}
.welcome_title span {
  color: #161616;
}
.welcome_text {
font-family: 'PTSerif-Regular';
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.4;
letter-spacing: -0.4px;
text-align: left;
color: #161616;
}
.request_button {
display: none;
border-radius: 10px;
padding: 15px 30px;
font-family: 'Montserrat';
color: white;
font-size: 14px;
line-height: 1.5;
text-transform: uppercase;
text-align: center;
background: #d03958;
}
.form {
  padding: 33px 23px 28px 24px;
  border-radius: 5.2px;
  -webkit-box-shadow: 0px -5px 38px 0 rgba(173, 173, 173, 0.75);
          box-shadow: 0px -5px 38px 0 rgba(173, 173, 173, 0.75);
  background-color: #d03958;
  /* position: absolute;
  top: 253px;
  right: 104px; */
}
.cross {
display: none;
}
.form_title {
font-family: 'Montserrat-Regular';
font-size: 22px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: -0.44px;
text-align: center;
color: #ffffff;
margin-bottom: 37px;
}
.form_input {
width: 100%;
  border-radius: 5px;
background-color: #ffffff;
padding: 22px 0 17px 19px;
margin-bottom: 16px;
}
.form_input:nth-last-child(1) {
margin-bottom: 27px;
}
.accept {
margin-bottom: 20px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.accept input {
margin-right: 18px;
}
.accept_text {
font-family: 'PTSerif-Regular';
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.25;
letter-spacing: -0.4px;
text-align: left;
color: #ffffff;
}
.checkbox {
position: relative;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
}
.terms a{
font-family: 'PTSerif-Regular';
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.25;
letter-spacing: -0.4px;
text-align: left;
color: #ffffff;
}
.form_button {
width: 100%;
height: 57px;
font-family: 'Montserrat-Regular';
font-size: 22px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: -0.44px;
text-align: center;
color: #ffffff;
background-color: #161616;
/* padding: 20px 0 20px 0; */
border-radius: 5px;
}
.services {
padding-top: 40px;

}
.services_container {
margin-bottom: 69px;
}
.services_title {
font-family: 'COUTURE-Bold';
font-size: 50px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.6;
letter-spacing: -1px;
text-align: left;
color: #161616;
margin-bottom: 90px;
}
.services_title span {
color: #d03958;
}
.services_flex-container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.services_item {
text-align: center;
margin-right: 105px;
}
.services_item:nth-last-child(1) {
margin-right: 0;
}
.one {
margin-bottom: 45px;
}
.two {
margin-bottom: 51px;
}
.three {
margin-bottom: 44px;
}
.four {
margin-bottom: 43px;
}
.services_text {
font-family: 'PTSerif-Regular';
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.4;
letter-spacing: -0.4px;
text-align: center;
color: #161616;
}
.our-story {
background: #d03958;
padding: 34px 0 40px 0;
}
.our-container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.our-story_text {
font-family: 'PTSerif-Regular';
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.4;
letter-spacing: -0.4px;
text-align: left;
color: #ffffff;
margin-right: 121px;
}
.our-story_button a{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
width: 269px;
height: 64px;
border-radius: 5px;
background-color: #e3d5b8;
font-family: 'Montserrat-Regular';
font-size: 22px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.27;
letter-spacing: -0.44px;
color: #161616;
}
.pricing {
padding-top: 61px;
background: #e3d5b8;
}
.pricing_title {
font-family: 'Montserrat-Regular';
font-size: 50px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.6;
letter-spacing: -1px;
text-align: center;
color: #1f1f1f;
margin-bottom: 57px;
}
.pricing_container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}
.pricing_item {
margin-right: 22px;
background: white;
padding: 35px 60px 13px 53px;
border-top-left-radius: 4.7px;
border-top-right-radius: 4.7px;
}
.pricing_item:nth-last-child(1) {
margin-right: 0;
}
.optimal {
position: relative;
background: url(./img/corner.png);
background-repeat: no-repeat;
background-color: #fff;
}
.optimal-text {
font-family: 'PTSerif-Regular';
font-size: 16px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.73;
letter-spacing: -0.22px;
text-align: center;
color: #1f1f1f;
-webkit-transform: rotate(
-45deg);
    -ms-transform: rotate(
-45deg);
        transform: rotate(
-45deg);
position: absolute;
top: 3.5%;
left: 1%;
}
.pricing_name {
font-family: 'PTSerif-Regular';
font-size: 22px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.27;
letter-spacing: -0.44px;
text-align: center;
color: #161616;
margin-bottom: 41px;
}
.pricing_price {
font-family: 'Montserrat-Regular';
font-size: 60px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: -1.2px;
text-align: center;
color: #d03958;
text-transform: uppercase;
margin-bottom: 33px;
}
.pricing_structure {
margin-bottom: 42px;

}
.pricing_structure_list li{
font-family: 'PTSerif-Regular';
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.4;
letter-spacing: -0.4px;
text-align: center;
color: #161616;
}
.pricing_button {
width: 205px;
height: 49px;
border-radius: 3.8px;

}
.button-grey {
background-color: #e3d5b8;
font-family: 'Montserrat-Regular';
font-size: 22px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.27;
letter-spacing: -0.44px;
text-align: center;
color: #161616;
}
.button-pink {
background-color: #d03958;
font-family: 'Montserrat-Regular';
font-size: 22px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.27;
letter-spacing: -0.44px;
text-align: center;
color: #ffffff;
}
.testimonial {
padding: 141px 0 119px 0;
}
.testimonial_container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}
.testimonials {
margin-right: 126px;
}
.testimonials_title {
font-family: 'Montserrat-Regular';
font-size: 50px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.6;
letter-spacing: -1px;
text-align: left;
color: #1f1f1f;
margin-bottom: 60px;
padding-left: 105px;
}
.testimonials_item {
position: relative;
margin-bottom: 62px;
padding-left: 26px;
}
.testimonials_item:nth-last-child(1) {
margin-bottom: 0;
}
.testimonials-white .testimonials_item_text{
padding: 26px 77px 26px 26px;
}
.testimonials-grey .testimonials_item_text {
border-radius: 4.6px;
background-color: #e3d5b8;
padding: 26px 77px 26px 26px;

}
.testimonials_text {
font-family: 'PTSerif-Regular';
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.4;
letter-spacing: -0.4px;
text-align: left;
color: #161616;
margin-bottom: 23px;

}
.testimonials_signature {
font-family: 'Montserrat-Regular';
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.4;
letter-spacing: -0.4px;
text-align: left;
color: #d03958;

}
.testimonials-gay {
position: absolute;
  z-index: 5;
  top: 4%;
  right: -13%;
}
.testimonials-girl {
position: absolute;
top: 0;
right: -13%;
}
.gallery_title {
font-family: 'Montserrat-Regular';
font-size: 50px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.6;
letter-spacing: -1px;
text-align: center;
color: #d03958;
margin-bottom: 66px;
}
.gallery_container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
margin-bottom: 40.4px;
}
.gallery_more a {
text-align: center;
}
.gallery_more a{
font-family: 'Montserrat-Regular';
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.4;
letter-spacing: -0.4px;
color: #d03958;
border-bottom: 1px solid #d03958;
}
footer {
background: #161616;
padding: 73px 0 64px 0;
}
.footer_container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.copyright {
font-family: 'PTSerif-Regular';
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.1;
letter-spacing: -0.4px;
text-align: left;
color: #ffffff;
}
.copyright span a{
color: #d03958;
}
