@font-face {
  font-family: 'Quite Chocolatey';
  src: url('Quite Chocolatey.eot');
  src: url('Quite Chocolatey.eot?#iefix') format('embedded-opentype'),
       url('Quite Chocolatey.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuiteChocolatey';
  src: url('QuiteChocolatey.ttf') format('truetype'),
       url('QuiteChocolatey.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

